body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div.app {
	height: 100vh;
	padding: 10px 50px 50px 50px;

	user-select: none;
	font-family: "Basic", sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48c6ef+0,6f86d6+99 */
	background: #48c6ef; /* Old browsers */
	background: -moz-linear-gradient(
		-45deg,
		#48c6ef 0%,
		#6f86d6 99%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		-45deg,
		#48c6ef 0%,
		#6f86d6 99%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		135deg,
		#48c6ef 0%,
		#6f86d6 99%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c6ef', endColorstr='#6f86d6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	/* animation: colorchange 60s infinite alternate;
	-webkit-animation: colorchange 60s alternate; Chrome and Safari */
	animation-name: colorchange;
	animation-duration: 60s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

input,
button {
	outline: none;
	width: 100%;
	border: none;
	color: white;
	font-size: 20px;
	border-radius: 100px;
	padding: 18px;
	background: rgba(255, 255, 255, 0.3);
	margin: 0 0 20px 0;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	color: rgba(255, 255, 255, 0.7);
	padding: 15px;
	font-size: 40px;
}

.button.raised {
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
	height: 55px;
	min-width: 50%;
	max-width: 60%;
	padding: 10px;
	color: rgba(255, 255, 255, 0.9);
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	font-weight: 700;
}

.button.raised:active {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.6);
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.6);
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.6);
}
:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.6);
}

div.message {
	background: rgba(255, 255, 255, 0.4);
	color: white;
	font-size: 18px;
	padding: 5px;
	margin: 10px;
	text-align: center;
	padding: 10px 10px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	animation: message 0.5s ease-in-out;
}

b.element {
	display: inline-block;
	-webkit-animation: pulse 2s linear infinite alternate;
	-moz-animation: pulse 2s linear infinite alternate;
	animation: pulse 1s linear infinite alternate;
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(0.8);
	}
	8% {
		-webkit-transform: scale(0.9);
	}
	15% {
		-webkit-transform: scale(1);
	}
	30% {
		-webkit-transform: scale(1.055);
		opacity: 1;
	}
	70% {
		-webkit-transform: scale(1);
	}
	70% {
		-webkit-transform: scale(1);
	}
}

@keyframes colorchange {
	0% {
		background: #1e3c72;
	}
	25% {
		background: #0ba360;
	}
	50% {
		background: #7028e4;
	}
	75% {
		background: #485563;
	}
	100% {
		background: #1e3c72;
	}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
	0% {
		background: #1e3c72;
	}
	25% {
		background: #0ba360;
	}
	50% {
		background: #7028e4;
	}
	75% {
		background: #485563;
	}
	100% {
		background: #1e3c72;
	}
}

@keyframes message {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
